
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <div>

            <h4 class="title">Glaciar @ 2019</h4>

  
            <br/>
            <br/>
            <i class="fas fa-link"></i>&nbsp;
            <a target="gcr" href="http://www.glaciar.org">Glaciar.org</a>
  

            <br/>
            <br/>
            <i class="fab fa-github"></i> &nbsp;
            <a target="gcr" href="https://github.com/glaciar-org">glaciar-org</a>
  

          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>