<h2 class="title">F.A.Q.</h2>
<p>Preguntas Frecuentes</p>
<br/>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div>


          <br/>
          <h4 class="title">¿Que es "Glaciar"?</h4>
          <p>
            Es una plataforma que realiza la visualización de la calidad del aire y del agua, 
            sobre una serie de dataset publicados en cinco plataformas de datos abiertos.
          </p>
          

          <br/>
          <h4 class="title">¿Por qué se llama "Glaciar"?</h4>
          <p>
            El nombre "Glaciar" es simbólico, y hace referencia a la capacidad que tienen 
            los glaciares de mantener en su interior información histórica 
            de la calidad del aire y del agua a lo largo de los siglos.
          </p>
          


        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<br/><br/>
<h4 class="title">Desarrolladores de Software</h4>
<p>Preguntas Frecuentes</p>



<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div>


          <br/>
          <h4 class="title">¿El código fuente de la aplicación está disponible?</h4>
          <p>
            Si, el código de la plataforma "Glaciar" está disponible en el repositorio de GitHub
               &nbsp; <i class="fab fa-github"></i> &nbsp;
              <a href="https://github.com/glaciar-org" target="glaciar_github">glaciar-org</a>.
          </p>
          

          <br/>
          <h4 class="title">¿Que componentes de la aplicación se comparten en GitHub?</h4>
          <p>
            Se comparten los tres componentes principales:
          </p>
          <ul>
            <li><b>El front-end</b>, escrito en Angular</li>
            <li><b>El back-end</b>, escrito en Node.js y express</li>
            <li><b>Los procesos ETL (extracción, transformación y carga)</b> que extraen los datos de las plataforma de datos abiertos</li>
          </ul>


          <br/>
          <h4 class="title">¿La plataforma "Glaciar" se trata de un proyecto open source en donde puedo colaborar?</h4>
          <p>
            Si! los pull request son bienvenidos!
          </p>


          <br/>
          <h4 class="title">¿La plataforma "Glaciar" se trata de un proyecto open source que se puede extender?</h4>
          <p>
            Si, se puede extender y/o modificar el software de la plataforma "Glaciar" siempre que se respeten las licencias del software de terceros.
          </p>



          <br/>
          <h4 class="title">¿Que software de terceros la plataforma "Glaciar" utiliza bajo licencia?</h4>
          <p>
            La plataforma Glaciar está construida utilizando productos open source, 
            y la librería comercial <b>amChart4</b> 
            bajo su <a href="https://github.com/amcharts/amcharts4/blob/master/dist/script/LICENSE" target="amlicence">licencia gratuita</a>
            que permite su uso, incluso dentro de proyectos open source, si se mantiene un pequeño logo de atribución
            a amChart visible en el gráfico (<a href="https://www.amcharts.com/online-store" target="amlicence">amcharts store</a>)
          </p>


          <br/>
          <h4 class="title">¿Puedo conocer con que tecnologías se contruyó la platforma "Glaciar"?</h4>
          <p>
            Si, a continuacíon se enumeran los proyectos utilizados:
          </p>
          <ul>
            <li><b><a target="ops" href="https://angular.io/">angular.io</a></b></li>
            <li><b><a target="ops" href="https://nodejs.org/">nodejs.org</a></b></li>
            <li><b><a target="ops" href="https://expressjs.com/">Express</a></b></li>
            <li><b><a target="ops" href="https://getbootstrap.com/">Bootstrap</a></b></li>
            <li><b><a target="ops" href="https://ng-bootstrap.github.io/">ng-bootstrap</a></b></li>
            <li><b><a target="ops" href="https://akveo.github.io/ngx-admin/">ngx-admin</a></b></li>
            <li><b><a target="ops" href="https://www.amcharts.com/online-store">amcharts</a></b></li>
            <!-- 
              <li><b><a target="ops" href=""></a></b></li>
              <li><b><a target="ops" href=""></a></b></li>
              <li><b><a target="ops" href=""></a></b></li>
              <li><b><a target="ops" href=""></a></b></li> 
            -->
          </ul>



        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>




<!-- GLACIAR @ 2019
   Glaciar.org

   glaciar-org -->