

.celdas1 {
    border: 1px;
    // border-color: red;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(155, 146, 146), rgb(226, 225, 225));
    padding: 3px;
    // margin: 3px;
}

.celdas2 {
    border: 1px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(219, 210, 210), rgb(224, 177, 177));
    padding: 3px;
    // margin: 3px;
}
.celdas3 {
    border: 1px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(210, 230, 205), rgb(139, 206, 156));
    padding: 3px;
    // margin: 3px;
}

.celdas4 {
    border: 1px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(210, 230, 205), rgb(139, 206, 156));
    padding: 3px;
    // margin: 3px;
}

